html {
  max-height: 100%;
}

body {
  min-height: 100%;
}



.boxes .back-ground {
  padding: 40px;
  width: 400px;
  height: 300px;
  margin:75px;

  opacity: 0;
  animation-name: pictures;
  animation-duration: 4s;
  animation-delay: 4s;
  animation-fill-mode: forwards;

  transition-property: transform;
  transition-duration: 1s;
}

@keyframes pictures {
  0% {opacity: 0}
  100% {opacity: 1}
}



.back-ground {
  padding: 10px;
}

.back-ground ul {
  margin: 10px;
}

.pic {
  width: 100%;
}

.navigation {
  list-style: none;
  color: white;
}



.delete {
  margin-bottom: 5px;
}
